<!DOCTYPE html>
<html>
  <head>
    <title>formulaire de contact</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form  method="POST">
        <div>
          <label>Votre nom:</label>
          <input type="text" name="name">
        </div>
        <div>
          <label>Votre prenom:</label>
          <input type="text" name="surName">
        </div>
        <div>
          <label>Votre mail:</label>
          <input type="text" name="mail">
        </div>
        <div>
          <label>Votre message:</label>
          <textarea name="message">
          </textarea>
        </div>
        <div>
            <input type="submit" name="submit">
        </div>
    </form>
    <a href="/">retour à l'accueil</a>
  </body>
</html>
